body {
    background-color: #f8f8f8;
    font-family: monospace;
}
    header {
    display: inline-block;
    width: 1000px;

    margin-left: calc( (100% - 1000px) / 2 );
   
}
    header > img {
    display: inline-block;
    float: left;

    }

    nav {
    display: inline-block;
    float: right;
    margin-top: 20px;
    }
        a {
            display: inline-block;
            float: left;
            margin-left: 10px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        color:#9e9e9e;
        text-decoration-line: none;
        font-size: 18px;
        border:5px solid transparent;
        border-radius: 21px;
        
        }
        a:last-of-type {
           border-color: #9e9e9e;
            text-transform: uppercase;

        }
main {
width: 1000px;
margin-left: calc( (100% - 1000px) / 2 );
color: #9e9e9e;
}
    div {
        display: inline-block;
        width: 40%;
        float:left;
        margin-top: 100px;
    }
        h1 {
            font-size: 120px;
            margin: 0;
        }
        p {
            margin: 0;
            font-size: 30px;
        }
    main > img {
        display: inline-block;
        width: 50%;
        float: right;
      
    }
    
